:root{
    --screen-width: 256px;
    --screen-height: 152px;

    --screen-menu-width: var(--screen-width);
    --screen-menu-height: 76px;

    --screen-scale: 2;
}

body{
    display: flex;              
    justify-content: center;
}

.console{
    /*Flex box para colocar las pantallas*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: calc(7rem * var(--screen-scale));
    flex-direction: column;

    /*Aumenta de tamaño la consola*/
    transform: scale(var(--screen-scale));
}



/*
Contenedores de los canvas, deben de tener a altura y la anchura
de los canvas que los contiene
*/
.game-container{    
    width: var(--screen-width);
    height: var(--screen-height);
}

.game-menu-container{    
    width: var(--screen-menu-width);
    height: var(--screen-menu-height);
}

.game-menu-canvas{
    width: var(--screen-menu-width);
    height: var(--screen-menu-height);
}

canvas{
    position: absolute; /* Para superponer los canvases */

    image-rendering: pixelated; /* Para que los sprites se vean bien*/
    width: var(--screen-width);
    height: var(--screen-height);
}

/*Orden en el index de los canvas para ver que canvas se superpone
encima del otro*/
.background-canvas{
    z-index: -5;
}

.game-canvas{
    z-index: 0;
}

/**
Botones
*/
.button-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    padding: 0.5rem;
}